In [1]:
import pandas

In [8]:
df1 = pandas.read_csv("traffic.csv")

In [9]:
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [18]:
import pandas 
df2 = pandas.read_excel("traffic.xlsx")
df2

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [11]:
df3 = pandas.read_json("traffic.json")
df3

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [14]:
df1 = pandas.read_csv("traffic.csv")

In [16]:
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [19]:
df2.set_index("Date")

NameError: name 'df2' is not defined

In [20]:
df4 = pandas.read_csv("traffic-commas.txt")
df4

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [24]:
df5 = pandas.read_csv("traffic-semi-colons.txt", sep=";")
df5

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday